@page
@model RiverMonitoring.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center m-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="d-flex justify-content-center" style="margin-top: 30px;">
    <div class="col-8 card transparent-card">
        <div class="card-body">
            <p>RiverMonitoring is an innovative platform designed to provide real-time monitoring and alerts for river conditions. Our goal is to help communities stay informed and prepared for potential flood or drought conditions.</p>

            <h4 class="display-6">Our Mission</h4>
            <p>Our mission is to enhance public safety and environmental protection by providing accurate and timely river monitoring data. We strive to support communities and authorities in making informed decisions regarding water resources management.</p>

            <h4 class="display-6">Features</h4>
            <ul>
                <li>Real-time river condition monitoring</li>
                <li>Customizable alerts for flood and drought conditions</li>
                <li>User-friendly interface for easy data access</li>
                <li>Comprehensive historical data analysis</li>
            </ul>

            <h4 class="display-6">Our Team</h4>
            <p>Our team is composed of experienced professionals in the fields of hydrology, environmental science, and software development. We are dedicated to providing reliable and high-quality services to our users.</p>

            <h4 class="display-6">Contact Us</h4>
            <p>If you have any questions or need further information, please feel free to contact us at radka.lastovickova@post.cz.</p>
        </div>
    </div>
</div>
