@page
@model RiverMonitoring.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center m-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="d-flex justify-content-center" style="margin-top: 30px;">
    <div class="col-8 card transparent-card">
        <div class="card-body">
            <p>Your privacy is important to us. This privacy statement explains the personal data RiverMonitoring collects, how we process it, and for what purposes.</p>

            <h4 class="display-6">Data We Collect</h4>
            <p>We collect data to operate effectively and provide you with the best experiences with our services. You provide some of this data directly, such as when you create a RiverMonitoring account or submit a form. The data we collect includes:</p>
            <ul>
                <li><strong>Personal Information:</strong> Name, email address, and other contact details.</li>
                <li><strong>Usage Data:</strong> Information on how you interact with our services.</li>
            </ul>

            <h4 class="display-6">How We Use Your Data</h4>
            <p>RiverMonitoring uses the data we collect to operate our services and provide you with a personalized experience. We may also use the data to communicate with you, for example, informing you about your account and security updates.</p>

            <h4 class="display-6">Sharing Your Data</h4>
            <p>We do not share your personal data with third parties, except as necessary to provide our services or as required by law.</p>

            <h4 class="display-6">Your Rights</h4>
            <p>You have the right to access, correct, or delete your personal data. If you have any questions or concerns about our use of your data, please contact us.</p>

            <h4 class="display-6">Changes to This Privacy Policy</h4>
            <p>We may update this privacy policy from time to time. We encourage you to review this privacy policy periodically to stay informed about how we are protecting your data.</p>
        </div>
    </div>
</div>
